*{
    border-radius: 5px;
    text-decoration: none;
    margin: auto;
    padding: 10px;
    scrollbar-width: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.closeicon{
    color: red;
    float: right;
}
html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
ul{
    padding-top: 20px;
}
nav{
    font-size: 18px;
    height: 100%;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    background: white;
    box-shadow: 0px 0px 20px black;
    width: 75%;
    max-width: 320px;
    margin: 0;
    top: 0;
    left: 0;
    border-radius: 0px;
}
.righticon{
    float: right;
    padding: 0px;
}
.search{
    padding: 8px;
    border: 0.5px solid gray;
    opacity: 50%;
}
label{
    font-size: 20px;
}
.navbar{
    background: rgb(255, 255, 255);
    position: sticky;
    box-shadow: 0px 0px 10px whitesmoke;
    top: 0px;
    z-index: 1;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 5px 10px 5px;
    border-radius: 0px;
}
.c1,.c2,.c3{
    overflow: auto;
    padding: 30px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box{
    box-shadow: 0px 0px 5px rgb(225, 225, 225);
    float: left;
    width: 180px;
    margin: 10px;
    padding: 10px;
}
.box:focus {
    transform: scale(1.2);
}
.icon{
    width: 25px;
    height: 25px;
    margin: auto;
}
.homebar,.connectbar{
    padding: 0px;
    display: flex;
    max-width: 450px;
    background: white;
    box-shadow: 0px 0px 5px rgb(180, 180, 180);
    position: sticky;
    bottom: 0px;
}
.js,hr{
    padding: 0px;
}
.redline{
    padding: 0px;
    margin-top:3px;
    margin-bottom:3px;
    border-radius: 0px;
}
.blackline{
    margin-top: 8px;
    margin-bottom: 10px;
}
.connect{
    background-image: linear-gradient(white,whitesmoke);
}
.form{
    border: 0px;
    position: static;
    z-index: 1;
    margin: auto;
}
.mgs{
    width: 90%;
    position: sticky;
    bottom: 0px;
    background: white;
    display: flex;
    font-size: 16px;
    border-radius: 30px;
    border: 0.5px solid black;
    padding: 3px;
}
.chat{
    max-width: 540px;
    padding: 0px;
    border: 0.5px solid gray;
    box-shadow: 0px 0px 10px gray;
    background: white;
}
.user{
    background: white;
    position: sticky;
    top: 0px;
    display: flex;
    box-shadow: 0px 0px 10px gray;
    padding: 10px;
    font-size: 16px;
}
.profile{
    width: 40px;
    height: 40px;
    padding: 1px;
    box-shadow: 0px 0px 3px 2px rgb(0, 255, 0);
    border-radius: 40px;
    margin:0px 5px 0px 5px;
}
.userinfo,.username,.userid{
    margin: 0px;
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
    padding: 0px;
    padding-left: 5px;
    font-size: 16px;
}
.chatbox{
    overflow: auto;
    height: 100%;
    max-height: 1080px;
}
.mgsin,.mgsout,.mgsrepin,.mgsrepout{
    width: fit-content;
    max-width: 80%;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 3px 3px skyblue;
    margin: 10px 0px 10px 0px;
}
.mgsin,.mgsrepin{
    border-top-left-radius: 0px;
}
.mgsout,.mgsrepout{

    border-bottom-right-radius: 0px;
}
.dup{
    width: 100%;
    margin: 0px;
    opacity: 30%;
}
.send{
    background: gray;
    width: 25px;
    height: auto;
    border-radius: 25px;
    padding:3px;
    margin-left: 10px;
}